<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <p>
              <%= @board.description %>
            </p>
            <%= link_to 'Edit', edit_board_path(@pin) %> |
            <%= link_to 'Back', boards_path %>
        </div>
    </div>
</div>